/* .dropdown-menu.show {
    z-index: 99;
}
.dropdown-toggle,
.dataTable td {
    z-index: 1;
} */

.dataTables_length,
.dataTables_filter {
    margin: 10px 0px;
}

.dataTables_wrapper > .btn-group.dt-buttons {
    padding-bottom: 1rem !important;
    float: left !important;
}

.dtr-details {
    width: 100%;
}

.dtr-details > li {
    padding: 10px 5px 0px 5px !important;
}

.dtr-details > li > .dtr-title {
    margin-bottom: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    /* top: 20px; */
    background-color: gray;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    background-color: #474747;
}